@tailwind base;
@tailwind components;
@tailwind utilities;

.glow{
    transition: all 0.3s ease-in-out;
}

.glow.hover{
    box-shadow: 0 0 25px rgba(6, 165, 3, 0.526);
}

.img_glow{
    box-shadow: 0 0 55px rgb(1, 143, 32)
}

.neno-button{
    transition: all 0.3s ease-in-out;
}

.neno-button:hover{
 box-shadow: 0 0 15px rgba(1, 127, 19, 0.603);
}
.b_glow{
    box-shadow: 0 0 15px rgba(1, 115, 73, 0.384);
}